.terraform/
*.tfstate*
.env
data/

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/

# dbt 
dbt/target/
dbt/logs/
dbt/dbt_packages/

# misc
.DS_Store

jasmine-admin_accessKeys.csv